@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply bg-light-bg text-slate-700;
	}

	kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px 1px 4px;
    white-space: nowrap;
		opacity: .9;
	}
}

@layer components {
	.container {
		max-width: theme(screens.lg);
	}

	.app-outline {
		@apply outline outline-2 outline-offset-2 outline-cyan-600;
	}

	.app-outline-light {
		@apply outline outline-2 outline-offset-2 outline-slate-200;
	}

	.btn-base {
		@apply py-1 px-4 m-2 rounded-md border focus:app-outline;
	}

	.btn {
		@apply btn-base border-transparent text-white bg-cyan-600  active:bg-cyan-700;
	}

	.btn-outline {
		@apply btn-base border-cyan-600 text-cyan-600 active:bg-slate-200;
	}
}

/* Next classes are set dynamically, so Tailwind does not include this in the build. */

.valid {
		@apply bg-[#e5f9e0] text-green-900;
}

.cta {
	@apply cursor-pointer hover:text-fuchsia-700 transition-all duration-300;
}